body{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}
p.soon{
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    vertical-align: auto;
    vertical-align: middle;
}
k {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}